<div class="wrapper row1">
    <header id="header" class="clear">
      <div id="hgroup">
        <h1><a href="/">LimitTesting...</a></h1>
        <h2>a series of mini-games/puzzels to test your abilities</h2>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/leaderboards">Leader Boards</a></li>
          <li><a href="/about">About</a></li>
          <li class="last"><a href="/profile">Profile</a></li>
        </ul>
      </nav>
    </header>
  </div>